@media screen and (min-width: 650px) {
	.app-bar {
		grid-template-columns: 1fr auto;
		padding: 8px 32px;
	}
	.logo {
		width: 30%;
	}
  
	.app-bar .app-bar__menu {
		display: none;
	}
  
	.app-bar .nav {
		position: static;
		width: 100%;
	}
  
	.app-bar .nav ul li {
		display: inline-block;
	}
  
	.app-bar .nav ul li a {
		display: inline-block;
		width: 120px;
		text-align: center;
		margin: 0;
	}
  }
  
  @media screen and (min-width: 800px) {
	.logo {
		width: 30%;
	}
  }
  
  @media screen and (min-width: 850px) {
	.list {
		grid-template-columns: repeat(3, 1fr);
	}
  }
  
  @media screen and (min-width: 1200px) {
	.list {
		grid-template-columns: repeat(4, 1fr);
	}
  }
  
  @media screen and (min-width: 1600px) {
	.list {
		grid-template-columns: repeat(5, 1fr);
	}
  }